name: Sphinx-PDF Generate Deploy
on:
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-python@v5
    - uses: actions/checkout@master
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Install dependencies
      run: |
        pip install sphinx sphinx_rtd_theme piccolo-theme myst_parser standard-imghdr sphinx-pdf-generate
    - name: Build and Commit
      uses: iSOLveIT/sphinx-pdf-generate-action@main
      with:
        config_file_path: doc/conf-pdf.py
        documentation_path: doc/
        target_branch: 'gh-pages'
        sphinx_version: 9.3
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: site
