name: SimplePDF
on:
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        sudo apt install weasyprint
        pip install sphinx sphinx_rtd_theme piccolo-theme myst_parser sphinx-simplepdf 
